h1 {
  color: red;

}
body {
  background-color: #5D5C61;
}

h2 {
  font-style: italic;
  color: white;
}

p {
  font-family: sans-serif;
  color:white;
}

ul {
  font-size: 20px;
  line-height: 30px;
  color:white;
}

a {
  color:white;
}
